@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        font-family: "Red Hat Display", sans-serif;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@layer components {
    .container{
        @apply max-w-[1240px];
    }
}

.burger-container{
    padding: 5px 4px 0 1px;
    width: 42px;
    height: 38px;
    z-index: 3;

}

.burger-item{
    width: 40px;
    height: 4px;
    border-radius: 20px;
    background: black;
    margin-bottom: 8px;
}

.top-line, .bot-line {
    transform: translateY(0) rotate(0);
    transition: .2s;
}

.mid-line {
    opacity: 1;
    transition: .2s;
}

.burger-container.active{
    border-radius: 5px;
    transition: .2s;
}

.burger-container.active > .top-line{
    transform: translateY(12px) rotate(45deg);
    transition: .2s;
}

.burger-container.active > .mid-line{
    opacity: 0;
    transition: .2s;
}

.burger-container.active > .bot-line{
    transform: translateY(-12px) rotate(-45deg);
    transition: .2s;
}

.burger-container:not(.active) .mid-line {
    opacity: 1;
    transform: rotate(180deg);
    tranision: 1.5s;
}

.text-shadow {
    text-shadow: 0 1px 3px rgba(0, 0, 0);
}
